@import url(http://fonts.googleapis.com/css?family=Muli:400,300);


body{
    color: #000;
    background: #fff;
}

i{
    color: #000;
}
.name{
    font-family: 'Muli', sans-serif;
    font-size: 5em;
    color: #000;
}

/*
    Each Block section has its own rules applied to it for the background.
*/

/* Block One CSS Rules */
.blockOne{
    background-position: center;
    height: 350px;
    padding-left: 0px;
    padding-top: 0px;
}

.blockOne i:hover{
    opacity: .5;
}
/* Block One CSS Rules end */


/* Block Two CSS Rules */
.blockTwo{
    background: url("/img/mps.gif");
    height: 350px;
    background-position: top center;
    border: 7px solid #1a1a1a;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
}
.blockTwo:hover{
    opacity: .5;
}
/* Block Two CSS Rules End */



/* Block Three CSS Rules */

.blockThree{
    padding-left: 0px;
    padding-right: 0px;
}
.blockThree iframe{
    padding-left: 0px;
    padding-right: 0px;
}

/* Block Three CSS Rules End */


/* Block Four CSS Rules */

.blockFour{
    background: url("/img/1.jpg");
    height: 350px;
    background-position: top left;
    border: 7px solid #1a1a1a;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
}
.blockFour > h4{
    padding-top: 40%;
    font-size: 4.0em;
    font-color: #fff;
}
.blockFour:hover{
    opacity: .5;
}
/* Block Four CSS Rules End */

/* Block Five CSS Rules */
.blockFive{
    background: url("/img/3.jpg");
    height: 350px;
    background-position: top left;
    border: 7px solid #1a1a1a;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
}
.blockFive:hover{
    opacity: .5;
}
/* Block Five CSS Rules End */

/* Block Six CSS Rules */
.blockSix{
    background: url("/img/2.jpg");
    height: 350px;
    background-position: top left;
    border: 7px solid #1a1a1a;
    -webkit-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
}
.blockSix:hover{
    opacity: .5;
}
/* Block Six CSS Rules End */
