<div class="container">
    <div class="row">
        <div class="col-md-6 topBanner">
            <img height="250" src="https://avatars3.githubusercontent.com/u/5372432?v=3&s=460">
        </div>
        <div class="col-md-6">
            <h1>Chris Lynch</h1>
            <p>A little bout me</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h4>NASA SpaceApps Challenge</h4>
            <hr width="100%">
            <p>
                Second place Winners and the Peoples Choice Award in Orlando, Florida. Creating a Data Visualization Application utilizing data from NASA in real time to educate, learn and format data to a easy to use format.

                The International Space Apps Challenge is a two-day hackathon where teams of technologists, scientists, designers, artists, educators, entrepreneurs, developers and students across the globe collaborate and engage with publicly available data to design innovative solutions for global challenges.
            </p>
        </div>
        <div class="col-md-4">
            <h4>CodeDay 2014</h4>
            <hr width="100%">
            <p>
                First Place winner at CodeDay Orlando! Porter is a music playlist application where you can transfer videos from device and search on Youtube and Soundcloud.
            </p>
        </div>
        <div class="col-md-4">
            <h4>InstaPopular</h4>
            <hr width="100%">
            <p>
                Using PHP, we created a website that pulls the instagram API and decodes it to create a simple page that displays popular images on instagram!
            </p>

        </div>
    </div>

</div>