<div class="container">
    <div class="row">
        <div class="col-md-4 blockOne">
            <div class="name">Chris Lynch</div>
            <address>
                <p>2351 Nautical Way<br>Winters Park, Florida</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (401) 391-3030</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:thefad3@gmail.com">thefad3@gmail.com</a>
                    </li>
                </ul>
            </address>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/th3f4d3"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="http://instagram.com/thefad3/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/profile/view?id=239609954"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/thefad3"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </li>
            </ul>

        </div>
        <div class="col-md-8 blockTwo">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 blockThree">
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/GpAJOKzxJ5M" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5 blockFour">
            <h4>Project Unknown</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 blockFive">
        </div>
        <div class="col-md-7 blockSix">
        </div>
    </div>
</div>