<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Chris Lynch</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h4>NASA SpaceApps Challenge</h4>
            <p>

            </p>
        </div>
        <div class="col-md-4">Second Col</div>
        <div class="col-md-4">Third Col</div>
    </div>

</div>